*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}


.card > img {
  object-fit: cover !important;
}
:root {
  --primaryButton-color: #d41313;
}

/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.underline {
  width: 100vw;
  height: 2px;
  background: rgb(209, 209, 209);
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 10px;
  max-width: 100vw;
}

.header__form {
  height: 60px;
  padding: 0 20px;
  border: 2px solid black;
  display: flex;
  align-items: center;
}
.header__form > input {
  height: 100%;
  border: none;
  outline: none;
  font-size: 22px;
  padding-right: 10px;
}

.header__logo {
  padding: 0 10px;
}

.header__logo > img {
  width: 100%;
  object-fit: contain;
}

.header__form > svg:hover {
  fill: var(--primaryButton-color);
  cursor: pointer;
}

.header__buttons {
  display: flex;
}
.header__buttons > button {
  height: 60px;
  padding: 15px;
  text-transform: uppercase;
  padding: 15px 20px;
  transition: 0.3s;
  font-weight: 700;
  outline: none;
  font-size: 17px;
}

.header__newsLetterBtn {
  background: none;
  border: 1px solid var(--primaryButton-color);
  color: var(--primaryButton-color);
}

.header__newsLetterBtn:hover {
  color: black;
}

.header__donateBtn:hover {
  background: var(--primaryButton-color);
}

.header__donateBtn {
  background: black;
  color: white;
}

.header__buttons > button:first-child {
  margin-right: 10px;
}


@media (max-width: 1000px) {
    .header{
        flex-direction: column-reverse;
    }
    .header__form {
        display: none;
    }
    .header__buttons {
        margin-bottom: 20px;
        width: 90vw;
        display: flex;
    }
    .header__buttons button {
        flex: 1;
    }
 
    
}
/* Navbar */

.navbar {
  display: flex;
  margin-top: 20px;
  padding: 0;

}
.navbar__top {
  margin: auto;
  overflow: auto;
}

.navbar__top > ul {
  width: 60vw;
  margin: auto;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__top > ul > li > a {
  color: black;
  font-weight: 700;
  text-decoration: none;
  transition: 0.15s;
  text-transform: uppercase;
  font-size: 20px;
}

.navbar__top > ul > li > a:hover {
  text-decoration: none;
  color: var(--primaryButton-color);
}

.navbar__bottom {
  margin: 30px 0;
  background: var(--primaryButton-color);
  min-height: 150px;
  width: 100vw;
  display: flex;
  align-items: center;
}

.navbar__bottom > ul {
  margin: auto;
  list-style: none;
  display: flex;
  align-items: center;
}
.navbar__bottom > ul > li {
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 400px;
  border: 1px solid transparent;
  border-right-color: white;
  margin-right: 10px;
}

.navbar__bottom li > a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
}

.navbar__bottom li > a > img {
  width: 100px !important;
}

@media (max-width: 1600px) {
  .navbar__top > ul {
    width: 90vw;
    justify-content: space-between;
  }
  .navbar__top > ul > li > a {
    font-size: 18px;
  }
  .navbar__bottom {
    display: none;
  }
}

/* Navbar mobile */
@media (max-width: 1000px) {
  .navbar {
    display: none;
  }
  .navbar__mobile {
    display: block !important;
    position: relative;
  }
}

.navbar__mobileOptions {
  position: fixed;
  list-style: none;
  top: 0;
  right: 0;
}

.navbar__menu {
  /* background-color: powderblue; */
  margin-top: 20px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.navbar__menu > a {
  text-decoration: none;
}

.navbar__menu > a > div {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  line-height: 25px;
  color: #484848;
  transition: 0.3s;
}

.navbar__menu > a > div:hover > i {
  color: var(--primaryButton-color);
}

.navbar__mobileOptions {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  transform: translateX(100%);
  transition: 550ms;
  z-index: 100;
}

.navbar__mobileOptions > ul {
  grid-column: 4/13;
  background-color: white;
  padding: 40px;
}
.navbar__cross {
  grid-column: 1/4;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.navbar__mobileOptions.open {
  transform: translateX(0);
}

.navbar__cross > i {
  font-size: 50px;
  margin-top: 20px;
  color: white;
  cursor: pointer;
}

.navbar__mobileOptions > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
  z-index: 100;
}

.navbar__mobileOptions li {
  width: 100%;
  padding: 25px 0;
  border-bottom: 1px solid rgb(190, 183, 183);
}

.navbar__mobileOptions input {
  width: 100%;
  height: 64px;
  border: 3px solid black;
  padding-left: 30px;
  font-size: 24px;
}

.navbar__mobileOptions > ul a {
  color: #484848;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 700;
  transition: 0.3s;
}

.navbar__mobileOptions > ul a:hover {
  color: var(--primaryButton-color);
}

/* Banner */

.banner {
  display: grid;
  gap: 15px;
  width: 80vw;
  margin: 100px auto;
  grid-template-columns: repeat(12, 1fr);
}
.card {
  z-index: 1 !important; 
}
.card-author {
  font-weight: 750;
  font-size: 18px;
  text-transform: uppercase;
}

.card-author .author {
  font-weight: 800;
}
.card-author .author:hover {
  color: var(--primaryButton-color);
  cursor: pointer;
}

/* MainPost Styling */
.banner__mainPosts {
  grid-column: 1/8;
  padding: 30px;
  border-color: transparent !important;
  border-right-color: rgb(209, 209, 209) !important;
}

.banner__mainPosts > img {
  cursor: pointer;
}

.card-body > .button--link {
  width: 80%;
  border: 2px solid var(--primaryButton-color);
  text-decoration: none;
  color: red;
  display: block;
  text-align: center;
  padding: 10px;
  margin: 20px auto;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 0.35s;
  text-transform: uppercase;
  cursor: pointer;
}

.card-body > .button--link:hover {
  color: black;
}

.banner__mainPosts > .card-body > .card-title {
  cursor: pointer;
  font-size: 3rem;
}

.banner__mainPosts > .card-body > .card-title:hover {
  color: var(--primaryButton-color);
}
.banner__mainPosts > .card-body > .card-text {
  font-size: 24px;
  line-height: 38px !important;
}

/* SidePost Styling */

.banner__sidePosts {
  grid-column: 8/12;
}

.banner__sidePost {
  border: none;
  border-bottom: 1px solid rgb(209, 209, 209);
}

.banner__sidePost .card-body > div {
  display: flex;
  align-items: center;
}

.banner__sidePost .card-body .title {
  font-size: 20px;
  font-weight: 650;
  cursor: pointer;
}

.banner__sidePost .card-body .title:hover {
  color: var(--primaryButton-color);
}

@media(max-width: 550px) {
  .banner__mainPosts > .card-body > .card-title {
    font-size: 20px;
  }
  .banner__mainPosts > .card-body > .card-text {
    margin: 20px 0;
    line-height: 20px !important;
    font-size: 16px;
  }
  .card-author .card-text {
    font-size: 15px;
  }
  .card-author .author {
    font-weight: 700;
    font-size: 16px;
  }
}


@media (max-width: 1270px) {
  .banner__mainPosts {
    grid-column: 1/12;
  }
  .banner__sidePosts {
    grid-column: 1/12;
  }
  .banner__sidePost {
      max-width: 700px;
      margin: auto;
  }

  .banner__sidePost .card-body .title {
    margin-right: 30px;
  }
}





/* News */

.news {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90vw;
    margin: 120px auto;
    gap: 20px;
}

.news .card {
    border: none !important;
}

.news__mainNews {
    grid-column: 1/6;
    padding: 15px;
    border: 1px solid transparent;
    border-right-color: rgb(209, 209, 209);
}

.news__mainNews .card-title {
    cursor: pointer;
    font-weight: 650;
}
.news__mainNews .card-title:hover {
    color: var(--primaryButton-color);
}

.news__mainNews .card-text {
    font-size: 20px;
    line-height: 28px;
}
.news__secondaryNews {
    grid-column: 6/12;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}

.news .card-author > span {
    font-weight: 900 !important;
    cursor: pointer;
}

.news .card-author > span:hover {
    color: var(--primaryButton-color);
}

.news__secondaryNews .card-text {
    font-weight: 650;
    font-size: 25px;
    cursor: pointer;
}

.news__secondaryNews .card-text:hover {
    color: var(--primaryButton-color);
}

@media (max-width: 1000px) {
    .news__mainNews {
        grid-column: 1/12;
    }
    .news__secondaryNews {
        grid-column: 1/12;
    }
}

@media (max-width: 750px) {
    .news__secondaryNews {
        grid-template-columns: 1fr;
    }
}

/* Mapping the future same as news */

/* Newspaper */

.newspaper {
    background-color: black;
    padding: 50px;
    width: 70vw;
    margin: auto;
    color: #c3c3c3;
}


.newspaper__form {
    display: flex;
    margin-top: 45px;
}

.newspaper__checkbox__form {
  margin-right: 35px;
  max-width: 720px;
  padding-right: 50px;
  border: 1px solid transparent;
  border-right-color: #c3c3c3;
}

.newspaper__checkbox {
  display: flex;
  align-items: flex-start;
  cursor: default;
}

.newspaper__checkbox > input {
  cursor: pointer;
}

.newspaper__checkboxInfo {
  margin-left: 25px;
  position: relative;
  bottom: 7px;
  
}

.newspaper__checkboxInfo > h3 {
  color: var(--primaryButton-color);
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1.5px;
}

.newspaper__checkboxInfo > p {
  line-height: 28px;
  font-size: 18px;
}

.newspaper__checkboxes > p{
    margin-bottom: 30px;
    font-size: 20px;
    letter-spacing: 1px;
    word-wrap: wrap;

}

.newspaper__inputBox{
  margin: 20px 0;
}
.newspaper__inputBox > input{
  font-size: 20px;
  border:4px solid #c3c3c3;
  color: #c3c3c3;
  background: black;
  padding: 20px;
  height: 50px;
  margin-top: 5px;
  width: 350px;
}
.newspaper__inputBox > input::placeholder {
  color: #c3c3c3;
}

.newspaper__inputBox > input:hover {
  background-color: white;
color: black;
}

.newspaper__inputBox > input:hover::placeholder {
  color: black;
}

.newspaper__mainForm > form > button {
  background-color: var(--primaryButton-color);
  color: white;
  padding: 15px;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  outline: none;
  border: none;
  transition: .45s;
}

.newspaper__mainForm > form > button:hover {
  color: var(--primaryButton-color);
  background-color: white;
}

@media(max-width: 1380px) {
  .newspaper {
    display: none;
  }
}

/* Podcast */
.podcasts {
  max-width: 1100px;
  width: 90vw;
  margin: auto;
}

.podcasts > .title {
  margin: 100px 0;
}

.podcast {
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.podcast__author {
  font-weight: 700;
  letter-spacing: 2px;
  align-self: flex-start;
  margin-top: 20px;
}

.podcast__author > span {
  font-weight: 800;
  cursor: pointer;
}

.podcast__author>span:hover {
  color: var(--primaryButton-color);
}

.podcast__title {
  margin: 25px 0;
}

.fa-play-circle {
  font-size: 40px;
  cursor: pointer;
  color: var(--primaryButton-color);

}

.fa-play-circle:hover {
  color: black;
}



.podcast__description {
  font-size: 20px;
  line-height: 30px;
  font-weight: 450;
  letter-spacing: 1px;
}

.podcast:nth-child(2){
  border: 1px solid transparent;
  border-right-color: rgb(209, 209, 209);
  border-left-color: rgb(209, 209, 209);
}

@media(max-width: 768px) {
  .podcast:nth-child(2) {
    border: 1px solid transparent;
    border-top-color: rgb(209, 209, 209);
    border-bottom-color: rgb(209, 209, 209);
    margin: 30px 0;
    padding: 30px;
  }
}


/* Special Projects */

.special-projects{
  background-color: black;
  color: white;
  margin: 100px 0;
  padding: 100px 0;
}

.special-projects .row {
  width: 90vw;
  max-width: 1400px;
  margin: auto;
}

.special-projects .title {
  text-transform: uppercase;
}

.special-projects .card {
  color: white !important;
  background: black;
}

.special-projects .card-body {
  padding-left: 0;
}

.special-projects .card-img {
  cursor: pointer;
}

.special-projects .chunck-content {
  color: #c3c3c3;
  font-size: 20px;
  letter-spacing: 1px;
}


/* Donation */

.donation{
  display: flex;
  flex-direction: column;
  min-height: 350px;
  background: rgb(238, 238, 238);
  margin: 100px auto;
  width: 70vw;
  padding: 40px 20px;
}

.donation__form {
  display: flex;
  flex-direction: column;
}
.donation__form > button {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  height: 50px;
  background-color: var(--primaryButton-color);
  color: white;
  text-transform: uppercase;
  font-weight: 750;
  letter-spacing: 1px;
  transition: all .3s;
  outline: none;
}

.donation__form > button:hover {
  opacity: 0.8;
}
.donation__title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
  line-height: 1.1;
}

.donation__content {
  font-size: 20px;
  text-align: center;
}

.donation__inputs {
  display: flex;
  width: 80%;
  margin: auto;
}

.donation__input {
  background: white;
  flex: 0.5;
  margin-right: 15px;
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 20px;
  padding-left: 20px;
}

.donation__input > input {
  border: none;
  outline: none;
  margin-left: 15px;
  flex: 1;
  width: 100%;
}

.donation__inputs > select {
  flex: 0.5;
  padding-left: 15px;
  height: 50px !important;
}

@media(max-width: 745px) {
  .donation__inputs {
    flex-direction: column;
  }
  .donation__input {
    margin: 0;
    margin-bottom: 30px;
  }
} 



/* footer */

.footer ul {
  list-style: none;
}

.footer__heading {
  font-size: 20px;
  margin-bottom: 20px;
}

.footer__paragraph {
  font-size: 18px;
}

.footer__top li {
  margin-bottom: 20px;
}

.footer__top ul li>i{
  margin-right: 10px;
}

.footer__top ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 650;
  text-transform: uppercase;
}

.footer__top ul li a:hover {
  color: var(--primaryButton-color);
}

.footer__copyright {
  font-size: 20px;
}

.footer__bottom ul li a {
  color: var(--primaryButton-color);
  font-size: 25px;
}

.footer__bottom ul li a:hover {
  color: black;
}